@font-face {
    font-family: "Black Ops One";
    src: url("../fonts/BlackOpsOne-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Black Ops One';
    user-select: none !important;
}

html {
    overflow: hidden;
}

body {
    // background-color: ;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../material/wood_bg.png");
        background-size: cover;
        filter: blur(10px);
    }

    #fr_main {
        background-image: url("../material/frame_main2.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 1800px;
        aspect-ratio: 903 / 508;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: 0;

        #header_txt {
            position: absolute;
            width: 300px;
            height: 100px;
            font-size: 42px;
            text-align: center;
            color: #eedd42;
            top: 162px;
            left: 50%;
            transform: translateX(-50%);
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: blink 1s infinite linear;
        }

        @keyframes blink {
            0% {
                color: yellow;
            }

            35%,
            65% {
                color: red;
            }

            100% {
                color: yellow;
            }
        }

        #fr_table {
            width: calc(520 / 903 * 100%);
            aspect-ratio: 52 / 25;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;

            #notify {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: max-content;
                height: 100%;
                z-index: 9999 !important;

                .note {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    font-family: "Raleway";
                    color: #fff;
                    font-weight: 600;
                    font-size: 12px;
                    text-align: center !important;
                    display: block;
                    width: 255px;
                    padding: 5px 50px;
                    background-image: linear-gradient(to right, #d5962261, #d59622ca, #d59622, #d59622, #d59622ca, #d5962261);
                    animation: moveToTop linear 1.5s;
                    opacity: 0;
                }

                @keyframes moveToTop {
                    0% {
                        top: 50%;
                        opacity: 1;
                    }

                    60% {
                        top: 0%;
                        opacity: 1;
                    }

                    90% {
                        top: 0%;
                        opacity: 0.5;
                    }

                    100% {
                        top: 0%;
                        opacity: 0;
                    }
                }
            }

            #fr_animation {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.5s;

                #plate {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: calc(5 / 13 * 100%);
                    aspect-ratio: 20 / 17;
                    background-image: url("../material/plate.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                #cover {
                    position: absolute;
                    top: 12%;
                    left: 33%;
                    width: calc(175 / 520 * 100%);
                    aspect-ratio: 175 / 163;
                    background-image: url("../material/cover.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    z-index: 999;
                    transition: 0.3s !important;
                }

                .open {
                    transform: scale(0);
                }

                #cubes {
                    top: 30%;
                    left: 42%;
                    position: absolute;
                    width: calc(5 / 26 * 100%);
                    aspect-ratio: 5 / 4;

                    .cube {
                        position: absolute;
                        width: 48%;
                        aspect-ratio: 48 / 60;
                        background-image: url("../material/frame_cube.png");
                        background-size: contain;
                        background-repeat: no-repeat;

                        .cl {
                            position: absolute;
                            bottom: 2px;
                            left: 2px;
                            width: 50%;
                            height: calc(44 / 60 * 100%);
                            background-size: 180%;
                            background-repeat: no-repeat;
                            background-position: -20px -10px;
                        }

                        .ct {
                            position: absolute;
                            top: 2px;
                            left: 3px;
                            width: calc(44 / 48 * 100%);
                            height: calc(32 / 60 * 100%);
                            background-size: 100%;
                            background-repeat: no-repeat;
                            background-position: 1px 0px;
                        }

                        .cr {
                            position: absolute;
                            bottom: 2px;
                            right: 2px;
                            width: 50%;
                            height: calc(44 / 60 * 100%);
                            background-image: url("../material/r4.png");
                            background-size: 180%;
                            background-repeat: no-repeat;
                            background-position: -17px -10px;
                        }
                    }

                    #c1 {
                        left: 0;
                        bottom: 10px;
                        z-index: 2;
                    }

                    #c2 {
                        right: 16px;
                        bottom: 0;
                        z-index: 3;
                    }

                    #c3 {
                        top: -18px;
                        left: 55px;
                        z-index: 1;
                    }
                }
            }

            .shake {
                animation: shake linear 2s 1;
            }

            @keyframes shake {

                0%,
                100% {
                    top: 50%;
                }

                10%,
                20%,
                30%,
                40%,
                50%,
                60%,
                70%,
                80%,
                90% {
                    top: 10%;
                }

                5%,
                15%,
                25%,
                35%,
                45%,
                55%,
                65%,
                75%,
                85%,
                95% {
                    top: 40%;
                }
            }

        }

        #box_btn {
            width: 540px;
            height: 55px;
            position: absolute;
            left: 50%;
            bottom: 20%;
            transform: translateX(-50%);

            button {
                transition: 0.3s;
                font-size: 40px;
                padding: 15px 50px;
                border-radius: 20px;
                background-image: linear-gradient(to bottom, #29ac3d, #08951d, #0e7f1f, #08951d, #29ac3d);

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }
}